.menu-bar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.left-section { 
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.middle-section {
    flex: 1;
    margin-left: 350px;
    margin-right: 250px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-section {
    background-color: lightblue;
    width: 400px;
}

.search-bar {
    flex: 1;
    height: 44px;
    padding-left: 15px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.20);
}

.search-bar::placeholder {
    font-family: Arial;
    font-size: 20px;
}

.search-button {
    width: 70px;
    height: 50px;
}